body {
    background-color: #e6ebef; /* Change this to any color you prefer */
}

/* Change color for h1 */
h1 {
    color: #02091f;  /* Replace with your desired color */
}

/* Change color for h2 */
h2 {
    color: #375a90;
}

/* Change color for h3 */
h3 {
    color: #375a90;
}

//* If you want to change all headings at once (h1 to h6) 
h1, h2, h3, h4, h5, h6 {
    color: #8E44AD;  /* Apply the same color to all heading lev


// The left hand sidebar
$grid-sidebar-width: 300px !default;

// The main body
$grid-body-width: 800px !default;

/*// The right hand margin bar
$grid-margin-width: 300px !default;

// The gutter that appears between the above columns
$grid-column-gutter-width: 1.5rem !default;